.questionDiv{
    background-color: rgb(1, 19, 55);
    padding: 1%;
    border-radius: 15px;
    margin-bottom: 1%;
    margin-top: 70px;
}

.question{
    background-color: rgb(241, 241, 241);
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 12px;
    border-style: outset;
}

.questionUserName{
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: -30px;
    left: 4%;
    width: 94%;
}

.questionTitle{
    position: relative;
    width: 98%;
    padding-top: 0.5%;
    top: -40px;
    left: 1%;
    border-top: solid;
    border-top-color: rgba(0, 0, 0, 0.26);
}

.questionDescription{
    position: relative;
    top: -45px;
    left: 1%;
    font-size: larger;
}

.questionCodeBlock{
    position: relative;
    margin-top: -40px;
    left: 1%;
    font-family: monospace;
    width: 98%;
}

.questionCodeBlock code{
    background-color: rgb(185, 185, 185);
    width: 100%;
    border-radius: 5px;
}

#Solutions{
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.responseDiv{
    background-color: rgba(238, 100, 50, 0.95);
    padding: 1%;
    border-radius: 15px;
    margin-bottom: 1%;
}

.response{
    background-color: rgb(241, 241, 241);
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 12px;
    border-style: outset;
}

.solution{
    position: relative;
    top: -35px;
    left: 1%;
    font-size: larger;
}

.votesDiv{
    display: flex;
    margin-left: 1%;
    margin-top: 1%;
    height: 40px;
}

.voteButtons{
    background-color: rgb(1, 19, 55);
    border-color: rgb(0, 0, 0);
    border-radius: 30px;
    width: 40px;
    height: 40px;
}

.buttonIcon{
    width: 30px;
    height: 30px;
    position: relative;
    right: 10%;
    top: 6%;
}

.votes{
    font-size: 200%;
    margin-top: 0;
    padding-left: 1%;
    padding-right: 1%;
}

.buttonIcon2{
    width: 30px;
    height: 30px;
    position: relative;
    right: 12%;
    top: 6%;
    transform: rotate(180deg);
}