@media (max-width: 750px){
    #questionPage{
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .questionDiv{
        background-color: rgb(1, 19, 55);
        padding: 1%;
        border-radius: 15px;
        margin-bottom: 1%;
        margin-top: 55px;
    }
    
    .actionDropDown{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 3%;
        z-index: 10;
    }
    
    .respActionDropDown{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10%;
        right: 3%;
        z-index: 10;
    }
    
    .actionButtons{
        position: absolute;
        top: 120px;
        right: 3%;
        width: 100px;
        z-index: 15;
    }
    
    .respActionButtons{
        position: absolute;
        top: 23%;
        right: 3%;
        width: 100px;
        z-index: 15;
    }
    
    .editButtons{
        width: 100px;
        height: 20px;
        background-color: rgb(185, 185, 185);
        border: none;
    }
    
    .deleteButtons{
        width: 100px;
        height: 20px;
        background-color: rgba(232, 62, 62, 0.934);
        border: none;
    }
    
    .question{
        background-color: rgb(241, 241, 241);
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 12px;
        border-style: outset;
    }
    
    .questionUserName{
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        top: -28px;
        left: 37px;
        width: 80%;
        font-size: 100%;
    }
    
    .questionTitle{
        position: relative;
        width: 98%;
        margin-bottom: 1%;
        padding-top: 0.5%;
        font-size: 140%;
        top: -30px;
        left: 1%;
        border-top: solid;
        border-top-color: rgba(0, 0, 0, 0.26);
    }
    
    .questionDescription{
        position: relative;
        top: -42px;
        left: 1%;
        font-size: 105%;
    }
    
    .questionCodeBlock{
        position: relative;
        margin-top: -50px;
        left: 1%;
        font-family: monospace;
        width: 98%;
    }
    
    .questionCodeBlock code{
        background-color: rgb(185, 185, 185);
        width: 100%;
        border-radius: 5px;
    }
    
    #Solutions{
        margin-left: 1%;
        margin-top: 0%;
        padding-top: 5px;
        margin-bottom: 1%;
        font-size: 120%;
    }
    
    .responseDiv{
        background-color: rgba(238, 100, 50, 0.95);
        position: relative;
        top: -25px;
        padding: 1%;
        border-radius: 15px;
        margin-bottom: 1%;
    }
    
    .response{
        background-color: rgb(241, 241, 241);
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 12px;
        border-style: outset;
    }
    
    .solution{
        position: relative;
        top: -35px;
        left: 1%;
        font-size: 105%;
        padding-bottom: 5px;
    }
    
    .votesDiv{
        display: flex;
        margin-left: 1%;
        margin-top: 1%;
        height: 30px;
    }
    
    .voteButtons{
        background-color: rgb(3, 32, 89);
        border-color: rgb(0, 0, 0);
        border-radius: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    .voteButtons:disabled{
        background-color: rgb(96, 96, 96);
        border-color: rgb(0, 0, 0);
        border-radius: 30px;
        width: 30px;
        height: 30px;
    }
    
    .buttonIcon{
        width: 20px;
        height: 20px;
        position: relative;
        right: 18%;
        top: 6%;
    }
    
    .votes{
        font-size: 160%;
        margin-top: 0;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .buttonIcon2{
        width: 20px;
        height: 20px;
        position: relative;
        right: 19%;
        top: 6%;
        transform: rotate(180deg);
    }
    
    .addButtons1{
        width: 50px;
        height: 30px;
        border-radius: 10px;
        border-color: rgba(1, 19, 55, 0.922);
        font-size: 140%;
        color: white;
        background-color: rgba(1, 19, 55, 0.922);
        position: relative;
        left: 85%;
        top: -30px;
        z-index: 10;
    }

    .addButtons1:hover{
        width: 50px;
        height: 30px;
        border-radius: 10px;
        border-color: rgba(1, 19, 55, 0.922);
        font-size: 140%;
        color: white;
        background-color: rgba(1, 19, 55, 0.922);
        position: relative;
        left: 85%;
        top: -30px;
        z-index: 10;
    }

    .emptyDiv{
        position: relative;
        top: -20px;
        width: 99%;
        margin-left: 0.5%;
        background-color: rgb(220, 220, 220);
        border-style: dashed;
        border-radius: 15px;
        border-color: rgba(0, 0, 0, 0.785);
        text-align: center;
    }

    .emptyData{
        width: 80%;
    }
    
    .emptyDesc{
        font-size: 150%;
        margin-top: 0;
    }
}

@media (min-width: 500px) and (max-width:750px){
    .questionDiv{
        background-color: rgb(1, 19, 55);
        padding: 1%;
        border-radius: 15px;
        margin-bottom: 1%;
        margin-top: 70px;
    }

    .addButtons1{
        width: 50px;
        height: 30px;
        border-radius: 10px;
        border-color: rgba(1, 19, 55, 0.922);
        font-size: 140%;
        color: white;
        background-color: rgba(1, 19, 55, 0.922);
        position: relative;
        left: 90%;
        top: -30px;
        z-index: 10;
    }
}