#page1 {
  position: relative; /* Ensure that the pseudo-element is positioned relative to this */
  padding: 20px;
  margin-top: 65px;
  height: 84vh;
}

#page1::before {
  content: "";
  background-image: url("https://media.istockphoto.com/id/1075599562/photo/programmer-working-with-program-code.jpg?s=612x612&w=0&k=20&c=n3Vw5SMbMCWW1YGG6lnTfrwndNQ8B_R4Vw-BN7LkqpA=");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#content {
  margin-top: 150px;
  width: 80%;
  margin-left: 25px;
  overflow: wrap;

}

#content h1{
  width: 100%;
}

#content h1 b{
  font-size: 80px;
  color: rgb(22, 23, 113);
  font-weight: bold;
  width: 100%;
  padding: 20px;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.562);
}

#content h1 i{
  margin-left: 1%;
  font-size: 70px;
  color: rgb(187, 80, 13);
  text-shadow: 2px 2px rgba(255, 255, 255, 0.562);
}
#content p{
  font-size: 30px;
  color: rgb(248, 248, 248);
  margin-left:20px;
  width: 60%;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.562);

}
/* styling page 2 */
#page2 {
background-color: #f0f0f0;
padding:5px;
}
#about {
text-align: left;
}
#about h1 {
font-size: 30px;
color: black;
text-align: center;
}
#about p{
font-size: 23px;
color:black;
width: 90%;
margin: auto;
line-height: 2;
}
#about p span{
font-weight: bold;
}
#search {
display: flex;
align-items: center; 
margin: 20px;
margin-top: 60px;
}
#searchcontent {
flex: 1; 
padding: 20px; 
text-align: center; 
}
#searchcontent p{
font-size: 20px;
width: 400px;
margin: auto;
}
.searchImg {
width: 500px;
height: 300px;
max-width: 100%; 
border-radius: 20px;
}
#reach {
display: flex;
align-items: center; 
margin: 20px;
margin-top: 60px;
}
#reachout {
flex: 1; 
padding: 20px; 
text-align: center; 
}
#reachout p{
font-size: 20px;
width: 400px;
margin: auto;
}
.reachImg {
width: 500px;
height: 300px;
max-width: 100%; 
border-radius: 20px;
}

#bottomcontent p{
font-size: 20px;
color:black;
width: 100%;
margin: auto;
line-height: 2;
text-align: center;
margin-top: 50px;
}
#bottomcontent p span{
color: #FA510F;
}
#footer {
background-color: #101F3C;
color: #fff;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center; 
}

#footer h3 {
margin: 10px 0;
text-align: center; 
font-size: 15px;
font-weight: lighter;
}

#socials,
#about {
flex: 1;
padding: 10px;
text-align: center;
}

#map iframe{
border-radius: 30px;
border: transparent;
}

.images{
  height: 57px;
  width: 57px; 
  
}