
h1 {
    font-size: 40px;
}

#header {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    background-color: rgba(247, 76, 14, 0.863);
    padding: 30px;
    margin-top: 65px;
  }

  #header img {
    width: 70px;
    height: 70px;
    padding-left: 0px;
    padding-top: 16px;
  }

  #header div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
  }

  #header div p {
    margin-top: 15px;
  }

  .questions {
    background-color: rgb(1, 19, 55);
    padding: 10px;
    margin: 15px;
    max-height: 150px;
    overflow-y: auto;
  }

  .questions div {
    background-color: white;
    margin: 10px;
    height:100px;
    font-size: 140%;
  }

  .questions div button {
    background-color: rgba(238, 100, 50, 0.863);
    color: white;
    padding: 8px;
    border-radius: 30%;
    border-color: rgb(1, 19, 55);
    margin-right: 20px;
    margin-left: 5px;
    font-size: 80%;
  }

  h2 {
    padding: 10px;
    padding-bottom: 2px;
    font-size: 30px;
  }