#navbar{
    width: 100%;
    background-color: rgb(218, 218, 218);
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#menu{
    width: 65px;
    height: 65px;
}

#menu:hover{
    cursor: pointer;
}

#navLogo{
    margin-bottom: 8px;
    height: 50px;
    width: 250px;
}

#navUser{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    margin-bottom: 2px;
}

#notifications{
    width: 40px;
    height: 40.5px;
    position: fixed;
    top: 10px;
    right: 80px;
    margin-bottom: 10px;
}

#notifDot{
    width: 12px;
    height: 12px;
    border-radius: 15px;
    background-color: red;
    position: fixed;
    right: 84px;
    top: 12px;
}

#navBackground{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.539);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 65px;
    z-index: 50;
}

#navPanel{
    height: 100vh;
    background-color: rgba(1, 19, 55, 0.897);
    position: fixed;
    top: 65px;
    left: -200px;
    width: 200px;
    z-index: 55;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

#Navigate{
    width: 100%;
    color: rgba(238, 100, 50, 0.925);
    text-align: center;
    font-size: 150%;
    margin-top: 0%;
    padding-top: 5%;
    margin-bottom: 5%;
}

.linkDiv{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(218, 218, 218, 0.726);
    border-bottom-style: outset;
}

#tagNames{
    height: 56.4vh;
    overflow-y: scroll;
    border-bottom-style: outset;
    border-bottom-color: black;
    border-top-style: outset;
    border-top-color: black;
}

#tagNames::-webkit-scrollbar{
    display: none;
}

.linkDiv1{
    width: 80%;
    position: relative;
    left: 10%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(181, 78, 40);
    border-bottom-style: outset;
    border-bottom-color: black;
}

.navLinks{
    font-size: 120%;
    color: Black;
    text-decoration: none;
}

.navLinks1{
    font-size: 120%;
    color: white;
    padding-left: 45px;
    padding-right: 45px;
    text-decoration: none;
}

#logOut{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(218, 218, 218, 0.726);
    padding: 0;
}

#logOutButton{
    width: 100%;
    height: 30px;
    font-size: 120%;
    background-color: rgb(229, 65, 65);
    border-style: none;
    border-bottom-style: outset;
}

@media (max-width:500px){
    #navbar{
        width: 100%;
        background-color: rgb(218, 218, 218);
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    
    #menu{
        width: 50px;
        height: 50px;
        position: fixed;
        top: 0;
    }
    
    #navLogo{
        /* margin-bottom: 8px;
        height: 50px;
        width: 250px; */
        display: none;
    }
    
    #navUser{
        width: 45px;
        height: 45px;
        position: relative;
        top: 2px;
        left: 87%;
        margin-bottom: 2px;
    }
    
    #notifications{
        width: 30px;
        height: 30.5px;
        position: relative;
        top: 3px;
        left: 67%;
        margin-bottom: 10px;
    }
    
    #notifDot{
        width: 9px;
        height: 9px;
        border-radius: 15px;
        background-color: red;
        position: relative;
        left: 83%;
        top: -80%;
        display: none;
    }
    
    #navBackground{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.539);
        height: 100vh;
        position: fixed;
        left: 0;
        top: 50px;
        z-index: 50;
    }
    
    #navPanel{
        height: 100vh;
        background-color: rgba(1, 19, 55, 0.897);
        position: fixed;
        top: 50px;
        left: -200px;
        width: 200px;
        z-index: 55;
        -webkit-animation: slide 0.5s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 0.5s forwards;
        animation-delay: 0s;
    }
    
    @-webkit-keyframes slide {
        100% { left: 0; }
    }
    
    @keyframes slide {
        100% { left: 0; }
    }
    
    #Navigate{
        width: 100%;
        color: rgba(238, 100, 50, 0.925);
        text-align: center;
        font-size: 150%;
        margin-top: 0%;
        padding-top: 5%;
        margin-bottom: 5%;
    }

    #tagNames{
        height: 55vh;
        overflow-y: scroll;
        border-bottom-style: outset;
        border-bottom-color: black;
        border-top-style: outset;
        border-top-color: black;
    }
    
    .linkDiv{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 28px;
        background-color: rgba(218, 218, 218, 0.726);
        border-bottom-style: outset;
        vertical-align: middle;

    }

    .linkDiv1{
        width: 80%;
        position: relative;
        left: 10%;
        text-align: center;
        height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgb(181, 78, 40);
        border-bottom-style: outset;
        border-bottom-color: black;
        vertical-align: middle;

    }
    
    .navLinks{
        font-size: 120%;
        color: Black;
        text-decoration: none;
    }
    
    #logOut{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba(218, 218, 218, 0.726);
        padding: 0;
    }
    
    #logOutButton{
        width: 100%;
        height: 40px;
        font-size: 120%;
        background-color: rgb(229, 65, 65);
        border-style: none;
        border-bottom-style: outset;
    }

}