  
   #text-wrapper-3 {
    color: #000000;
    font-family: "Comfortaa-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .login-image{
    width: 65%;
  }
  
   .password {
    height: 30px;
    left: 105px;
    position: absolute;
    top: 424px;
    width: 459px;
  }
  
   .overlap-group {
    height: 31px;
    position: relative;
  }
  
   #text-wrapper-4 {
    color: #000000bf;
    font-family: "Comfortaa-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 135px;
  }
  
   .line {
    height: 3px;
    left: 0;
    position: absolute;
    top: 28px;
    width: 459px;
  }
  
   .email {
    height: 30px;
    left: 104px;
    position: absolute;
    top: 345px;
    width: 459px;
  }
  
   .input {
    background: transparent;
    border: none;
    color: #000000bf;
    font-family: "Comfortaa-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 51px;
  }
  
   .img {
    height: 3px;
    left: -1px;
    position: absolute;
    top: 28px;
    width: 459px;
  }
  
   .create-account {
    height: 40px;
    left: 186px;
    position: absolute;
    top: 654px;
    width: 302px;
  }
  
   .div-wrapper {
    background-color: #1f9801;
    border-radius: 50px;
    height: 40px;
    position: relative;
    width: 300px;
  }
  
   .text-wrapper-5 {
    color: #ffffff;
    font-family: "Comfortaa-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 76px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 148px;
  }
  
   .image {
    height: 78px;
    left: 35px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 341px;
  }

  .unnamed1{
    z-index: 10;
    border-radius: 50px;
    width: 95%;
    position: relative;
    right: -95%;
    margin-right: 5%;
    box-shadow: 0 0 5px 5px #bc3c05;
    animation: loginslide 0.5s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes loginslide {
    100% { right: 0; }
}

@keyframes loginslide {
    100% { right: 0; }
}

  
  .login-btn {
    background: #020220;
    color: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 208px;
    height: 58px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    border-radius: 3rem;
  }
  
  .login-btn span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  .login-btn::before {
    content: '';
    position: absolute;
    border-radius: 3rem;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #fff;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .login-btn:hover {
    color: #07011F;
    transition: .3s ease;
  }
  
  .login-btn:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

@media (max-width: 1000px){
  .login-image{
    display: none;
  }

  #text-wrapper-3 {
    color: #000000;
    font-family: "Comfortaa-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}